asgiref==3.7.2
async-timeout==4.0.2
cffi==1.15.1
channels-redis==4.1.0
channels==4.0.0
cryptography==41.0.1
django-cors-headers==4.1.0
django-filter==23.2
django-rest-knox==4.2.0
django==4.2.3
djangorestframework-simplejwt==5.2.2
djangorestframework==3.14.0
markdown==3.4.3
msgpack==1.0.5
pillow==10.0.0
pycparser==2.21
pyjwt==2.7.0
pytz==2023.3
redis==4.6.0
sqlparse==0.4.4
tzdata==2023.3
